{% include 'blocks/_divider.html' %}
<section id="photography" class="container g-mt-20 g-mt-40--md g-mb-40 g-font-size-16 g-font-size-18--md">
  {% include 'blocks/_middle_heading.html' with title="Photography and Videography" %}
  <p>The Club uses photography and video to celebrate and promote hockey, communicate the activities of the Club, and
    support player coaching and development.</p>
  <p>Photographs and video may be taken at matches, training sessions, tournaments, social events and other Club activities.
    Images may be used on the Club's website, social media channels, publications and other promotional material.</p>
  <p>All photography and filming organised by the Club will be carried out in accordance with England Hockey's Photography
    and Video Guidance.</p>

  {% include 'blocks/_middle_subheading.html' with title="Adult Players and Members" %}
  <p>By taking part in Club activities, adult members should expect that photographs or video may occasionally be taken
    in which they appear.</p>
  <p>We recognise that some members may not wish to be photographed or filmed. Anyone who does not wish images of
    themselves to be used by the Club should let us know. We will make reasonable efforts to respect these wishes and to
    remove Club-published images on request where practicable.</p>
  <p>Images will be used appropriately and in a way that respects the individuals shown.</p>

  {% include 'blocks/_middle_subheading.html' with title="Children and Young People" %}
  <p>The Club will obtain appropriate parent or carer consent for the photography and filming of players under 18 as part
    of the Club's registration process. Photography and filming will only take place and images will only be used in
    accordance with the consent provided.</p>
  <p>Images of under-18 players may be used for purposes such as promoting the Club and hockey or supporting player
    coaching and development, in accordance with the consent provided.</p>
  <p>The Club will not personally identify an under-18 player in connection with a photograph or video and will take particular
    care not to publish information which could unnecessarily identify or locate a young person.</p>
  <p>Photography and filming involving under-18s will be managed in accordance with England Hockey's safeguarding and photography
    guidance.</p>

  {% include 'blocks/_middle_subheading.html' with title="Coaching and Development Video" %}
  <p>Matches and training sessions may be recorded for coaching, player development and performance analysis.</p>
  <p>Players will be informed where organised filming is taking place. Where under-18 players are involved, filming and subsequent
    use of the footage will be subject to the consent provided during registration.</p>
  <p>Video recorded specifically for coaching and development will be used only for that purpose. Access will be limited
    to players, coaches and others with an appropriate reason to view it, and the footage will not be published publicly
    or on social media.</p>
  <p>Where matches are recorded for coaching or analysis, the opposition will be notified in accordance with England Hockey
    guidance and given an opportunity to raise any safeguarding, welfare or privacy concerns.</p>

  {% include 'blocks/_middle_subheading.html' with title="Taking Photographs and Video" %}
  <p>Parents, spectators and other members may take photographs or video for personal use, provided they do so responsibly
    and do not interfere with play, coaching or the enjoyment of others.</p>
  <p>Photography or filming must not take place in changing rooms, toilets or other private areas.</p>
  <p>Any concerns about photography or filming, particularly where they involve a child or young person, should be raised
    with a Club official or the <a href="mailto:welfare@cambridgesouthhockeyclub.co.uk">Club's Welfare Officer</a>.</p>
</section>
