{% include 'blocks/_divider.html' %}
<section id="safeguarding" class="container g-mt-20 g-mt-40--md g-mb-40 g-font-size-16 g-font-size-18--md">
  {% include 'blocks/_middle_heading.html' with title="Safeguarding" %}

  <p>Cambridge South Hockey Club is committed to providing a safe and positive environment for all young people involved
    in hockey.</p>
  <p>The Club has adopted England Hockey's Safeguarding Policy, Reporting Procedures and Good Practice Guidance. All Club
    members, coaches, officials and volunteers are expected to follow these policies whenever they are responsible for,
    or participating in hockey with, young people.</p>
  <p>Any concern about the welfare of a young person, or about the behaviour of an adult towards a young person, should
    be reported to the <a href="mailto:welfare@cambridgesouthhockeyclub.co.uk">Club's Welfare Officer</a> in accordance 
    with England Hockey's safeguarding procedures.</p>
  
  <p>For more information, see:</p>
  <ul>
    <li><a href="{% url 'juniors_index' %}#resources">CSHC Junior Section Resources</a></li>
    <li><a href="https://www.englandhockey.co.uk/governance/safeguarding/" target="_blank" rel="noopener noreferrer">England Hockey Safeguarding</a></li>
  </ul>
</section>